<table mat-table [dataSource]="tickets" class="mat-elevation-z8 data-table">
  <ng-container matColumnDef="id">
    <th class="table-header" mat-header-cell *matHeaderCellDef (click)="sort.emit('number')">
      Number
      <i *ngIf="currentSort === 'number' && sortReversed === false" class="material-icons arrow">arrow_downward</i>
      <i *ngIf="currentSort === 'number' && sortReversed === true" class="material-icons arrow">arrow_upward</i>
    </th>
    <td mat-cell *matCellDef="let ticket">{{ticket.id}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th class="table-header" mat-header-cell *matHeaderCellDef (click)="sort.emit('status')">
      Status
      <i *ngIf="currentSort === 'status' && sortReversed === false" class="material-icons arrow">arrow_downward</i>
      <i *ngIf="currentSort === 'status' && sortReversed === true" class="material-icons arrow">arrow_upward</i>
    </th>
    <td mat-cell *matCellDef="let ticket">{{ticket.status}}</td>
  </ng-container>
  <ng-container matColumnDef="priority">
    <th class="table-header" mat-header-cell *matHeaderCellDef (click)="sort.emit('priority')">
      Priority
      <i *ngIf="currentSort === 'priority' && sortReversed === false" class="material-icons arrow">arrow_downward</i>
      <i *ngIf="currentSort === 'priority' && sortReversed === true" class="material-icons arrow">arrow_upward</i>
    </th>
    <td mat-cell *matCellDef="let ticket">{{ticket.priority}}</td>
  </ng-container>
  <ng-container matColumnDef="shortDescription">
    <th class="table-header" mat-header-cell *matHeaderCellDef (click)="sort.emit('shortDescription')">
      Short Description
      <i *ngIf="currentSort === 'shortDescription' && sortReversed === false" class="material-icons arrow">arrow_downward</i>
      <i *ngIf="currentSort === 'shortDescription' && sortReversed === true" class="material-icons arrow">arrow_upward</i>
    </th>
    <td mat-cell *matCellDef="let ticket">{{ticket.shortDescription}}</td>
  </ng-container>
  <ng-container matColumnDef="submissionDate">
    <th class="table-header" mat-header-cell *matHeaderCellDef (click)="sort.emit('submissionDate')">
      Submission Date
      <i *ngIf="currentSort === 'submissionDate' && sortReversed === false" class="material-icons arrow">arrow_downward</i>
      <i *ngIf="currentSort === 'submissionDate' && sortReversed === true" class="material-icons arrow">arrow_upward</i>
    </th>
    <td mat-cell *matCellDef="let ticket">{{ticket.submissionDate}}</td>
  </ng-container>
  <ng-container matColumnDef="updatedOn">
    <th class="table-header" mat-header-cell *matHeaderCellDef (click)="sort.emit('updatedOn')">
      Updated On
      <i *ngIf="currentSort === 'updatedOn' && sortReversed === false" class="material-icons arrow">arrow_downward</i>
      <i *ngIf="currentSort === 'updatedOn' && sortReversed === true" class="material-icons arrow">arrow_upward</i>
    </th>
    <td mat-cell *matCellDef="let ticket">{{ticket.updatedOn}}</td>
  </ng-container>
  <ng-container matColumnDef="source">
    <th class="table-header" mat-header-cell *matHeaderCellDef (click)="sort.emit('source')">
      Source
      <i *ngIf="currentSort === 'source' && sortReversed === false" class="material-icons arrow">arrow_downward</i>
      <i *ngIf="currentSort === 'source' && sortReversed === true" class="material-icons arrow">arrow_upward</i>
    </th>
    <td mat-cell *matCellDef="let ticket">{{ticket.source}}</td>
  </ng-container>

  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
