<div class="container-fluid">
  <div class="row">
    <img class="img-fluid img-thumbnail" id="logo" src="/assets/img/cfalogo.png" alt="logo">
    <div class="col search-bar-container">
      <input class="search-bar" type="search" name="search" value="" placeholder="Search">
    </div>
  </div>

  <div class="row">

    <div class="col">
      <!-- Navbar  -->
      <nav class="nav flex-column">
        <a class="nav-link" href="#"> New </a>
        <a class="My Requests" href="#">My Requests</a>
      </nav>
    </div>

  </div>

</div>
