@media screen and (max-width: 1440px) {
  #logo {
    max-width: 150px;
    max-height: 160px;
  }
}
@media screen and (min-width: 1441px) {
  #logo {
    max-width: 300px;
    max-height: 310px;
  }
}

#logo {
  border: solid;
  border-color: white;
}

.vertical-line {
  border-left: thin solid #8E969C;
  height: 100px;
  margin-top: 2%;
  margin-bottom:2%;
}

.search-bar-container {
  margin-top: 4%;
  margin-bottom: 4%;
  padding-left: 50px;
  text-align: center;
}

@media screen and (max-width: 1024px ) {
  .search-bar {
    width: 50%;
    height: 70%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2000px){
  .search-bar {
    width: 50%;
    height: 120%;
  }
}

// #help-icon a:hover {
//   color: #8E969C;
// }


#help-icon {
  position: absolute;
  margin-top: 9px;
  margin-bottom: 9px;
  padding-top: 4px;
  margin-left: 45%;
  // color: #7f909c;
  // color: black;
}

.help-icon-container{
  color: #a6bbc9;
}

.help-icon-container:hover {
    color: #8E969C;
}

.search-bar-container {
  text-align: left;
  #search-icon {
    position: absolute;
    float: left;
    text-align: left;
    width: 30px;
    height: 30px;

    padding-top: 4px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 5px;
    color: #dd0031;
  }
  .search-bar {
    padding: 10px 30px 10px 30px;
    border-style: solid;
    border-radius: 30px;
    border-color: #dd0031;
      color: #8E969C;
  }
  .search-bar:focus {
    outline: none;
  }
}

// Main Nav
.main-nav {
  background-color: #66747e;
  width: 150px;
  text-align: center;
  a {
    color: white;
    height: 100px;
    padding: 2.5em 1em;
  }
}

// Secondary Nav
.secondary-nav {
  width: 100%;
  ul {
    width: 100%;
  }
}
