<div class="container-fluid">
  <div class="row">
    <!-- Logo -->
    <img class="logo" src="/assets/img/cfalogo.png" alt="logo">
    <!-- Search Bar -->
    <div class="col search-bar-container">
      <i class="material-icons search-icon">search</i>
      <i class="material-icons help-icon">help_outline
        <span class="help-text">Search here using any attribute contained in the ticket</span>
      </i>
      <input class="search-bar" id="input" type="text" name="search" value="" placeholder="Search">
      <button class="search-button" (click)="submitSearch()">Submit</button>
      <button class="clear-button" *ngIf="showClearSearch" (click)="clearSearch()">Clear Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <app-tickets [tickets]="filteredTickets"
                   [columns]="columns"
                   [currentSort]="currentSort"
                   [sortReversed]="sortReversed"
                   (sort)="sort($event)">
                   </app-tickets>
    <!-- Main Navbar  -->
    <!-- <nav class="nav flex-column main-nav d-print">
      <a class="nav-link" href="#">New Request</a>
      <a class="nav-link" href="#">My Requests</a>
      <a class="btn btn-primary" href="#filter-collapse" data-toggle="collapse" role="button" aria-controls="filter-collapse"> Filter </a>

      <div class="collapse" id="filter-collapse"> -->
        <!-- <form class="filter-form" action="index.html" method="post">
          <span>Type</span>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="issue-checkbox" value="false" (change)="helloWorld()">
            <label class="form-check-label" for="issue-checkbox">Issue</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="feature-checkbox" value="false">
            <label class="form-check-label" for="feature-checkbox">Feature</label>
          </div>

          <span>Status</span>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="open-checkbox" value="false">
            <label class="form-check-label" for="open-checkbox">Open</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="pending-checkbox" value="false">
            <label class="form-check-label" for="pending-checkbox">Pending</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="closed-checkbox" value="false">
            <label class="form-check-label" for="closed-checkbox">Closed</label>
          </div>

          <span>Source</span>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="it-support-checkbox" value="false">
            <label class="form-check-label" for="it-support">IT Support</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="social-media-checkbox" value="false">
            <label class="form-check-label" for="social-media-checkbox">Social Media</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="misc-checkbox" value="false">
            <label class="form-check-label" for="misc-checkbox">Misc.</label>
          </div>

          <span>Priorty</span>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="high-priority-checkbox" value="false">
            <label class="form-check-label" for="high-priority-checkbox">High</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="middle-priority-checkbox" value="false">
            <label class="form-check-label" for="middle-priority-checkbox">Middle</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="low-priority-checkbox" value="false">
            <label class="form-check-label" for="low-priority-checkbox">Low</label>
          </div>
        </form> -->

      </div>
    <!-- </nav> -->
  </div>
</div>
